@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Спец. курс ASP.NET Core MVC</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Цель спец. курса</h2>
        <p>
            Изучение основ работы веб-приложений, созданных с 
            использованием ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Лабораторные работы</h2>
        <p>На протяжении курса будет создаваться и дорабатываться одно веб-приложение.</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/CoderLiQ/xrm-aspnet-2017">Ссылка на репозиторий &raquo;</a></p>
    </div>    
</div>